
.article-list__item {
    width: 100%;
    padding: 0 25px 50px;
}

.article-item__inner {
    height: 100%;
    padding: 20px 30px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
    transition: box-shadow .3s;
}

.article-item__row {
    display: flex;
}

.article-item__inner:hover {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
}

.article-item__paragraph {
    text-align: justify;
}

.article-item__btn {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #3490dc;
    border-radius: 4px;
    background-color: transparent;
    font-weight: bold;
    color: #2779bd;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}

.article-item__btn:hover {
    background-color: #3490dc;
    color: #fff;
}
